<a href="https://colab.research.google.com/github/artiagra/Board-Infinity/blob/master/Python_3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
quiz = files.upload()

Saving quiz1.csv to quiz1.csv
Saving quiz2.csv to quiz2.csv

In [0]:
import io
import pandas as pd

quiz1 = pd.read_csv(io.BytesIO(quiz['quiz1.csv']))
quiz2 = pd.read_csv(io.BytesIO(quiz['quiz2.csv']))

In [3]:
# get the shape of Quiz 1
quiz1.shape[0]

660

In [4]:
quiz1.head()

      Surname        Firstname  ...        Time taken Grade/10.00
0  16BTCSES11  SIDDHANT  GUPTA  ...     14 mins 1 sec           4
1  16BTCSES11    ARPIT  SHARMA  ...    14 mins 5 secs           5
2  16BTCSES11    VISHAL  SINGH  ...            6 days           7
3  16BTCSES11     AKASH  YADAV  ...    6 days 2 hours           9
4  16BTCSES11   MANISH  SAHANI  ...  13 hours 11 mins           7

[5 rows x 11 columns]

In [5]:
#upload all batchwise files
batch = files.upload()

Saving 1.csv to 1.csv
Saving 2.csv to 2.csv
Saving 3.csv to 3.csv
Saving 4.csv to 4.csv
Saving 5.csv to 5.csv
Saving 6.csv to 6.csv
Saving 7.csv to 7.csv
Saving 8.csv to 8.csv
Saving 9.csv to 9.csv
Saving 10.csv to 10.csv
Saving 11.csv to 11.csv
Saving 12.csv to 12.csv
Saving 13.csv to 13.csv
Saving 14.csv to 14.csv
Saving 15.csv to 15.csv
Saving 16.csv to 16.csv
Saving 17.csv to 17.csv
Saving 18.csv to 18.csv
Saving 19.csv to 19.csv

In [0]:
# read all the batch in a list
frames = [pd.read_csv(io.BytesIO(batch[key])) for key in batch]

In [0]:
# add a batch column for each each to differentiate the batch
i=0
while(i<19):
  frames[i]['batch'] = str(i+1) + '.csv'
  i = i+1

In [8]:
frames[0]

    Unnamed: 0  srNo  ...          studentName  batch
0            0     1  ...        AAYUSH  TYAGI  1.csv
1            1     2  ...             ABHISHEK  1.csv
2            2     3  ...         ADITI  SINGH  1.csv
3            3     4  ...       ADITYA  MANKAR  1.csv
4            4     5  ...        AKASH  KANSAL  1.csv
..         ...   ...  ...                  ...    ...
58          58    59  ...      VISHAL  CHAUHAN  1.csv
59          59    60  ...         YAMAN  ASWAL  1.csv
60          60    61  ...          YASH  NIGAM  1.csv
61          61    62  ...  YASH RAJ SRIVASTAVA  1.csv
62          62    63  ...       YASHU  CHAUHAN  1.csv

[63 rows x 6 columns]

In [0]:
#concat all the batches in a single dataframe
batch_data = pd.concat(frames, ignore_index=True)

In [10]:
batch_data.head()

   Unnamed: 0  srNo  enrollmentNumber admissionNumber     studentName  batch
0           0     1        1613101016    16SCSE101757   AAYUSH  TYAGI  1.csv
1           1     2        1613101026    16SCSE101415        ABHISHEK  1.csv
2           2     3        1613101051    16SCSE101222    ADITI  SINGH  1.csv
3           3     4        1613101054    16SCSE101220  ADITYA  MANKAR  1.csv
4           4     5        1613101079    16SCSE101085   AKASH  KANSAL  1.csv

In [11]:
batch_data.index

RangeIndex(start=0, stop=1017, step=1)

In [14]:
batch_data.shape

(1017, 6)

In [15]:
batch_data.columns

Index(['Unnamed: 0', 'srNo', 'enrollmentNumber', 'admissionNumber',
       'studentName', 'batch'],
      dtype='object')

As we see the only columns same in batch and quiz are student name and firstname

In [0]:
#join the batch dataframe with the quiz data based on studentname from batch and firstname from list
quiz1_data = pd.merge(batch_data,quiz1, left_on='studentName', right_on='Firstname', how = 'left')
quiz2_data = pd.merge(batch_data,quiz2, left_on='studentName', right_on='Firstname', how = 'left')

In [17]:
quiz1_data.head()

   Unnamed: 0  srNo  ...       Time taken Grade/10.00
0           0     1  ...   7 mins 14 secs           5
1           1     2  ...  15 mins 41 secs           7
2           2     3  ...  16 mins 52 secs           5
3           3     4  ...  16 mins 59 secs           7
4           4     5  ...              NaN         NaN

[5 rows x 17 columns]

In [18]:
quiz1_data.columns

Index(['Unnamed: 0', 'srNo', 'enrollmentNumber', 'admissionNumber',
       'studentName', 'batch', 'Surname', 'Firstname', 'ID number',
       'Institution', 'Department', 'Email address', 'State', 'Started on',
       'Completed', 'Time taken', 'Grade/10.00'],
      dtype='object')

In [19]:
#get the null data in joined quiz batch data
quiz1_data.isnull().sum()

Unnamed: 0             0
srNo                   0
enrollmentNumber       0
admissionNumber        0
studentName            0
batch                  0
Surname              360
Firstname            360
ID number           1016
Institution         1016
Department          1015
Email address       1015
State                360
Started on           360
Completed            360
Time taken           360
Grade/10.00          360
dtype: int64

In [20]:
quiz1_data['Grade/10.00'].value_counts()

10    254
4      75
5      69
7      58
6      57
9      50
8      42
3      33
2       9
1       5
0       4
-       1
Name: Grade/10.00, dtype: int64

In [0]:
# replace the null that is students that were absent with -1
quiz1_data['Grade/10.00'].fillna(-1,inplace=True)
# replace the students who attended quiz but status still in progress with no grade with 0
quiz1_data.loc[quiz1_data['Grade/10.00'] == '-', ['Grade/10.00']] = 0

In [0]:
#convert the grade to float type
quiz1_data['Grade/10.00'] = quiz1_data['Grade/10.00'].astype(float)
#quiz1_data['Grade/10.00'].value_counts()

In [0]:
#calculate the percentage for each record in a new column percentage
quiz1_data['percentage'] = (quiz1_data['Grade/10.00'] / 10 ) * 100

In [0]:
#repeat the same process for quiz 2 batch data
quiz2_data['Grade/10.00'].fillna(-1,inplace=True)
quiz2_data.loc[quiz2_data['Grade/10.00'] == '-', ['Grade/10.00']] = 0
quiz2_data['Grade/10.00'] = quiz2_data['Grade/10.00'].astype(float)
quiz2_data['percentage'] = (quiz2_data['Grade/10.00'] / 10 ) * 100

In [0]:
# create a new statistics dataframe
stat_df = pd.DataFrame(range(1,39), columns=['key'])

In [26]:
stat_df

    key
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
10   11
11   12
12   13
13   14
14   15
15   16
16   17
17   18
18   19
19   20
20   21
21   22
22   23
23   24
24   25
25   26
26   27
27   28
28   29
29   30
30   31
31   32
32   33
33   34
34   35
35   36
36   37
37   38

In [0]:
# create new columns batch and quiz in statistic dataframe to identify the other informations
i=0
batch_count = 1
stat_df['batch'] = 0
stat_df['quiz'] = 0
while i<38:
  if i%2 == 0:
    stat_df['batch'][i] = str(batch_count) + '.csv'
    stat_df['quiz'][i] = 1
  else:
    stat_df['batch'][i] = str(batch_count) + '.csv'
    stat_df['quiz'][i] = 2
    batch_count = batch_count + 1
  i = i+1

In [28]:
stat_df

    key   batch  quiz
0     1   1.csv     1
1     2   1.csv     2
2     3   2.csv     1
3     4   2.csv     2
4     5   3.csv     1
5     6   3.csv     2
6     7   4.csv     1
7     8   4.csv     2
8     9   5.csv     1
9    10   5.csv     2
10   11   6.csv     1
11   12   6.csv     2
12   13   7.csv     1
13   14   7.csv     2
14   15   8.csv     1
15   16   8.csv     2
16   17   9.csv     1
17   18   9.csv     2
18   19  10.csv     1
19   20  10.csv     2
20   21  11.csv     1
21   22  11.csv     2
22   23  12.csv     1
23   24  12.csv     2
24   25  13.csv     1
25   26  13.csv     2
26   27  14.csv     1
27   28  14.csv     2
28   29  15.csv     1
29   30  15.csv     2
30   31  16.csv     1
31   32  16.csv     2
32   33  17.csv     1
33   34  17.csv     2
34   35  18.csv     1
35   36  18.csv     2
36   37  19.csv     1
37   38  19.csv     2

In [0]:
#create and initialize all the required columns in statistic dafaframe
stat_df['noofpresent'] = 0
stat_df['lessthan50'] = 0
stat_df['between50and60'] = 0
stat_df['between60and70'] = 0
stat_df['between70and80'] = 0
stat_df['greaterthan80'] = 0

In [30]:
stat_df.head()

   key  batch  quiz  ...  between60and70  between70and80  greaterthan80
0    1  1.csv     1  ...               0               0              0
1    2  1.csv     2  ...               0               0              0
2    3  2.csv     1  ...               0               0              0
3    4  2.csv     2  ...               0               0              0
4    5  3.csv     1  ...               0               0              0

[5 rows x 9 columns]

In [31]:
#example lookup for no of absent and percentage greater than 80 in batch 4
print(quiz1_data.loc[(quiz1_data['Grade/10.00'] == -1) & (quiz1_data['batch'] == '4.csv')].shape[0])
print(quiz1_data.loc[(quiz1_data['percentage'] > 80) & (quiz1_data['batch'] == '4.csv')].shape[0])

10
29

In [0]:
#fill all the required columns with the required conditions for each batch and quiz
i=0
batch_count = 1
while i < 38:
  if i%2 == 0:
    batc = str(batch_count) + '.csv'
    stat_df['noofpresent'][i] = quiz1_data.loc[(quiz1_data['Grade/10.00'] != -1) & (quiz1_data['batch'] == batc)].shape[0]
    stat_df['lessthan50'][i] = quiz1_data.loc[(quiz1_data['percentage'] < 50) & (quiz1_data['percentage'] >= 0) & (quiz1_data['batch'] == batc)].shape[0]
    stat_df['between50and60'][i] = quiz1_data.loc[(quiz1_data['percentage'] >= 50) & (quiz1_data['percentage'] < 60) & (quiz1_data['batch'] == batc)].shape[0]
    stat_df['between60and70'][i] = quiz1_data.loc[(quiz1_data['percentage'] >= 60) & (quiz1_data['percentage'] < 70) & (quiz1_data['batch'] == batc)].shape[0]
    stat_df['between70and80'][i] = quiz1_data.loc[(quiz1_data['percentage'] >= 70) & (quiz1_data['percentage'] <= 80) & (quiz1_data['batch'] == batc)].shape[0]
    stat_df['greaterthan80'][i] = quiz1_data.loc[(quiz1_data['percentage'] > 80) & (quiz1_data['batch'] == batc)].shape[0]
  else:
    batc = str(batch_count) + '.csv'
    stat_df['noofpresent'][i] = quiz2_data.loc[(quiz2_data['Grade/10.00'] != -1) & (quiz2_data['batch'] == batc)].shape[0]
    stat_df['lessthan50'][i] = quiz2_data.loc[(quiz2_data['percentage'] < 50) & (quiz1_data['percentage'] >= 0) & (quiz2_data['batch'] == batc)].shape[0]
    stat_df['between50and60'][i] = quiz2_data.loc[(quiz2_data['percentage'] >= 50) & (quiz2_data['percentage'] < 60) & (quiz2_data['batch'] == batc)].shape[0]
    stat_df['between60and70'][i] = quiz2_data.loc[(quiz2_data['percentage'] >= 60) & (quiz2_data['percentage'] < 70) & (quiz2_data['batch'] == batc)].shape[0]
    stat_df['between70and80'][i] = quiz2_data.loc[(quiz2_data['percentage'] >= 70) & (quiz2_data['percentage'] <= 80) & (quiz2_data['batch'] == batc)].shape[0]
    stat_df['greaterthan80'][i] = quiz2_data.loc[(quiz2_data['percentage'] > 80) & (quiz2_data['batch'] == batc)].shape[0]
    batch_count = batch_count + 1
  i=i+1

In [33]:
#now we have all the required columns in our statistic dataframe with batch and quiz information for unique identification
stat_df

    key   batch  quiz  ...  between60and70  between70and80  greaterthan80
0     1   1.csv     1  ...               4               8             17
1     2   1.csv     2  ...               1               4             30
2     3   2.csv     1  ...               5               5             39
3     4   2.csv     2  ...               2               4             38
4     5   3.csv     1  ...               5               5             19
5     6   3.csv     2  ...               1               4             39
6     7   4.csv     1  ...               3               6             29
7     8   4.csv     2  ...               0               6             49
8     9   5.csv     1  ...               7              13             17
9    10   5.csv     2  ...               0               9             24
10   11   6.csv     1  ...               0               4             10
11   12   6.csv     2  ...               1               0             18
12   13   7.csv     1  ...               3               1             10
13   14   7.csv     2  ...               1               1             11
14   15   8.csv     1  ...               2               1             17
15   16   8.csv     2  ...               6               8             32
16   17   9.csv     1  ...               0               6              7
17   18   9.csv     2  ...               1               2              5
18   19  10.csv     1  ...               6               3             15
19   20  10.csv     2  ...               0               3             12
20   21  11.csv     1  ...               1               7             15
21   22  11.csv     2  ...               2               5             23
22   23  12.csv     1  ...               2               4              5
23   24  12.csv     2  ...               2               3             14
24   25  13.csv     1  ...               6               4             33
25   26  13.csv     2  ...               3               4             25
26   27  14.csv     1  ...               5              11             19
27   28  14.csv     2  ...               6              11             17
28   29  15.csv     1  ...               3               7             34
29   30  15.csv     2  ...               2              13             29
30   31  16.csv     1  ...               4               6              5
31   32  16.csv     2  ...               4               2             23
32   33  17.csv     1  ...               1               5             11
33   34  17.csv     2  ...               4               7             22
34   35  18.csv     1  ...               0               1              1
35   36  18.csv     2  ...               1               2              1
36   37  19.csv     1  ...               0               3              1
37   38  19.csv     2  ...               1               3              2

[38 rows x 9 columns]

In [34]:
#same answer 29 as in cell 36
stat_df[stat_df['batch'] == '4.csv']['greaterthan80']

6    29
7    49
Name: greaterthan80, dtype: int64

In [0]:
#to cross verify the result achieved, instead of working with all batches at once, lets take batch4 only into further consideration
batch4 = pd.read_csv(io.BytesIO(batch['4.csv']))

In [36]:
batch4.head()

   Unnamed: 0  srNo  enrollmentNumber admissionNumber           studentName
0           0     1        1613101007    16SCSE101625       AAKASH  DEVRANI
1           1     2        1613101012    16SCSE101832        AASHISH  DUBEY
2           2     3        1613102001    16SCSE102003    ABHAY SINGH DHAUNI
3           3     4        1613101027    16SCSE101213      ABHISHEK  BHAGAT
4           4     5        1613101047    16SCSE101173  ABHISHEK KUMAR SINGH

In [37]:
batch4.shape

(60, 5)

In [38]:
batch4.tail()

    Unnamed: 0  srNo  enrollmentNumber admissionNumber        studentName
55          58    59        1613101781    16SCSE101366  tarun  chaturvedi
56          59    60        1613101790    16SCSE101209      UJJWAL  KUMAR
57          61    62        1613101796    16SCSE101151    UTKARSH  PANDEY
58          62    63        1613101836    16SCSE101498      VISHAL  KUMAR
59          63    64        1613102013   16SCSE1011896         YASH  GARG

In [39]:
quiz1.head()

      Surname        Firstname  ...        Time taken Grade/10.00
0  16BTCSES11  SIDDHANT  GUPTA  ...     14 mins 1 sec           4
1  16BTCSES11    ARPIT  SHARMA  ...    14 mins 5 secs           5
2  16BTCSES11    VISHAL  SINGH  ...            6 days           7
3  16BTCSES11     AKASH  YADAV  ...    6 days 2 hours           9
4  16BTCSES11   MANISH  SAHANI  ...  13 hours 11 mins           7

[5 rows x 11 columns]

In [0]:
#join batch4 data with quiz data 
batch4_quiz = pd.merge(batch4 ,quiz1, left_on='studentName', right_on='Firstname', how = 'left')

In [41]:
batch4_quiz.head()

   Unnamed: 0  srNo  ...       Time taken Grade/10.00
0           0     1  ...              NaN         NaN
1           1     2  ...              NaN         NaN
2           2     3  ...    7 mins 5 secs          10
3           3     4  ...   16 mins 5 secs          10
4           4     5  ...  34 mins 11 secs           7

[5 rows x 16 columns]

In [42]:
batch4_quiz.shape

(60, 16)

In [43]:
batch4_quiz['Grade/10.00'].isnull().sum()

10

In [44]:
batch4_quiz['Grade/10.00'].value_counts()

10    26
4      6
7      6
2      3
6      3
9      3
3      1
5      1
0      1
Name: Grade/10.00, dtype: int64

In [0]:
#replace absent students with -1
batch4_quiz.fillna(-1, inplace=True)

In [46]:
batch4_quiz['Grade/10.00'].isnull().sum()

0

In [0]:
batch4_quiz['Grade/10.00'] = batch4_quiz['Grade/10.00'].astype(float)

In [48]:
#no of absent students in batch 4
batch4_quiz.loc[batch4_quiz['Grade/10.00'] == -1 ].shape[0]

10

In [49]:
#greater than 80 percentage in batch 4 which is same as cell 36
batch4_quiz.loc[batch4_quiz['Grade/10.00'] > 8 ].shape[0]

29

In [50]:
test_case = files.upload()

Saving testcaseStudent.txt to testcaseStudent.txt

In [52]:
file_name = "testcaseStudent.txt"
data = test_case[file_name].decode("utf-8").split("\n\r\n")
data

['2', '1.csv', 'greaterthan80', '9.csv', 'lessthan50']

In [79]:
i = 1
file_count = 1
files_created = []
l=0
while i < len(data):
  print("in loop",i)
  if i%2 == 0:
    print("iteration",i)
    column = data[i]
    q = stat_df[stat_df['batch'] == batch_num][column]
    print(q)
    out_file = 'output' + str(file_count) + '.txt'
    print(out_file)
    f = open(out_file, "w+")
    for line in q:
      f.write("%d\r\n" % (line))
    f.close()
    files_created.append(out_file)
    file_count = file_count+1
    print(file_count) 
  else:
    print("iteration",i)
    batch_num = data[i]
    print('batch',batch_num)
  i=i+1

in loop 1
iteration 1
batch 1.csv
in loop 2
iteration 2
0    17
1    30
Name: greaterthan80, dtype: int64
output1.txt
2
in loop 3
iteration 3
batch 9.csv
in loop 4
iteration 4
16     6
17    15
Name: lessthan50, dtype: int64
output2.txt
3

In [80]:
files_created

['output1.txt', 'output2.txt']

In [82]:
#open and read the file after the appending:
for f_list in files_created:
 print(f_list)
 f = open(f_list, "r")
 print(f.read())

output1.txt
17
30

output2.txt
6
15